div.title {
  margin: 20px;
  border-bottom-style: double;
  border-bottom-width: 5px;
}

h1.title {
}

div.outer {
  margin: 20px 20px 60px 60px;
  padding-left: 240px;
  position: fixed;
  top: 70px;
}

div.audio {
  position: fixed;
  top: 20px;
  left: 960px;
}

img.selfPic {
  margin-left: 20px;
}

a:hover {
  color: red;
}
