div.title {
  margin: 20px;
  border-bottom-style: double;
  border-bottom-width: 5px;
}

div.outer {
  margin-top: 20px;
  margin-bottom: 20px;
  position: fixed;
  top: 70px;
  left: 290px;
}

div.audio {
  position: fixed;
  top: 20px;
  left: 960px;
}

img.selfPic {
  margin-left: 20px;
  position: fixed;
  top: 120px;
}

a:hover {
  color: red;
}

div.clock {
  position: fixed;
  top: 480px;
  left: 1050px;
}

img.instagram {
  position: fixed;
  top: 455px;
  left: 310px;
}

img.facebook {
  position: fixed;
  top: 445px;
  left: 365px;
}

* {
  background-color: rgba(246, 245, 198, 0.8);
}
